
name: Metrics
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: iurilebtuns
          template: classic
          base: activity, repositories
          languages: yes
          languages_limit: 8
          languages_threshold: 0
          isocalendar: yes
          timezone: America/Sao_Paulo
